// Breakpoints & small helpers

$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

@mixin down($w) {
  @media (max-width: $w) {
    @content;
  }
}

@mixin up($w) {
  @media (min-width: $w) {
    @content;
  }
}
